.box {
  height: 100vh;
  display: flex;
  align-items: center;
}

.boxContainer {
  border: 3px dashed #c7cdd3;
  background-color: #f2f5f8;
  border-radius: 0.5rem;

  min-width: 600px;
  margin: 0 auto;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
